@media all and (max-width: 1100px) and (min-width: 700px) { 
.mobileHide {
  display: none !important;
}

.mobileOnlyHide {
	display: block;
}


.navList li:nth-child(1) {
width: 56%;
text-align: left;
font-size: 35px;
line-height: 50px;
padding-left: 10px;
}

.navList li:nth-child(5) {
width: 33%;
text-align: right;
font-size: 20px;
line-height: 50px;
color: #fff;
}

.mobileIconText {
  color: #fff !important;
  font-size: 26px !important;
  display: block;
}

.projectList li {
float: left;
width: 33.33%;
min-width: 310px;
height: 50%;
}

.mainBlock li {
width: 90% !important;
float: left;
background-color: #F3F3F3;
margin-left: 50px;
margin-bottom: -4px;
}

.loginBlock {
width: 90%;
height: 1594px;
margin: 0 auto;
display: block;
padding-top: 100px;
overflow: hidden;
max-height: 1340px;
}


}