@media screen and (max-width: 680px) {

.mobileHide {
  display: none !important;
}

.mobileOnlyHide {
  display: none !important;
}

.navList li:nth-child(1) {
width: 56%;
text-align: left;
font-size: 35px;
line-height: 50px;
padding-left: 10px;
}

.navList li:nth-child(5) {
width: 33%;
text-align: right;
font-size: 15px;
line-height: 50px;
color: #fff;
}

.mobileOnlyHide {
  display: none;
}

.bannerTitle {
font-family: 'Bebas Neue Light', sans-serif;
color: #ffffff;
font-size: 80px;
text-align: center;
margin-top: 14%;
/* margin-left: 55px; */
/* margin-left: 25%; */
margin-top: 111px;
}

.mobileIconText {
  color: #fff !important;
  font-size: 26px !important;
  display: block;
}

.projects {
  height: 1700px;
}

.projectList {
list-style-type: none;
width: 100%;
height: 100%;
margin: 0 auto;
/* overflow: scroll; */
overflow-x: hidden !important;
}

.projectList li {
float: left;
width: 100.33%;
min-width: 360px;
height: 575px;
margin: 0 auto;
}

.projectBlock {
width: 300px;
height: 500px;
display: block;
/* margin: 0 auto; */
margin-left: 3%;
margin: 0 auto;
}

.footerMobile {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.5);
  display: block;
}

.footerMobile h4 {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #fff;

}

.footerMobile i {
  font-size: 16px;
}

.weird {
  margin-top: 65px;
  width: 90px !important;
}

.cta {
  margin: 60px auto;
}

.icon {
  width: 70px;
  margin: 60px auto;
  display: block;
}

.disWidth {
 width: 100%; 
 font-size: 6px;
/* margin: 50px auto; */
display: block;
margin-left: 0px; 
}


.mainBlock li {
width: 90% !important;
float: left;
background-color: #F3F3F3;
margin-left: 50px;
margin-bottom: 50px;
}

.mainBlock li {
width: 90% !important;
float: left;
background-color: #F3F3F3;
margin-left: 50px;
margin-bottom: -4px;
}

.loginBlock {
width: 90%;
height: 1594px;
margin: 0 auto;
display: block;
padding-top: 100px;
overflow: hidden;
max-height: 1340px;
}



}