html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}

a {
  text-decoration: none;
  color:inherit;
}

body {
  height: 100%;
  width: 100%;
}

.bannerTitle {
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  margin-top: 20%;
}

.navList {
  background-color:transparent;
  width: 100%;
  height: 50px;
  margin-bottom: 15%;
  position: absolute;
  top: 528px;
}

.headerStick {
  position: fixed;
  background-color: rgba(0,0,0,.6);
}

.navList ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  color: #ffffff;
}

.navList li {
  float: left;
}

.navList li:nth-child(1){
  width: 49%;
  text-align: left;
  font-size: 35px;
  line-height: 50px;
  padding-left: 10px;
}

.navList li:nth-child(2){
  width: 49%;
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}

.blackOut {
  border: 0px !important;
}

.blackOut p {
  color:rgba(0,0,0,0);
}


.banner {
  background: url(../img/sparkBG.jpg) 50% 0 repeat fixed;
  width: 100%;
  height: 1000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}
.slider {
  width: 1437px;
  height: 1000px;
  overflow-x:scroll;
}

.slide {
  float: left;
  width: 1437px;
  height: 1000px;
}

.holder {
  width: 300%;
}



#slide-0 {
   background-image: url(../img/sparkBG.jpg);
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#slide-1 {
    background-image: url(../img/sparkBG.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#slide-2 {
    background-image: url(../img/sparkBG.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}
.funded {
  background-color: #FBFBFB;
  width: 100%;
  height: 450px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.past{
  background-color: ;
  width: 100%;
  height: 550px;
  overflow: auto;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  background: url(../img/boh4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projects{
  background-color: #423E38;
  width: 100%;
  height: 600px;
  overflow: hidden;

}
/***************************
****************************
About section 
****************************
***************************/
.about {
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
}

.about li {
  width: 33.33%;
  float: left;
  padding-top: 40px;
}

.about li h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 35px;

}

.about li p {
  text-align: center;
  font-size: 20px;
  width: 95%;
  margin: 0 auto;
}
.circle {
  margin: 40px auto 0px;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border: 100%;
  border-radius: 100%;
}

.check {
  margin-left: 40px;
  margin-top: 40px;
}

.marker {
  margin-left: 55px;
  margin-top: 40px;
}

.lock {
  margin-left: 55px;
  margin-top: 40px;
}

.hideInfo {
  display: none;
}
/***************************
****************************
Funded section 
****************************
***************************/



/***************************
****************************
projects section 
****************************
***************************/
.projectList {
  list-style-type: none;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.projectList li {
  float: left;
  width: 33.33%;
  height: 50%;
}

.projectBlock {
  list-style-type: none;
  width: 90%;
  height: 412px;
  margin: 10px auto;
  border:3px solid #555353;
  border-radius: 5%;
  min-width: 369px;
  background-color: #F3F3F3;
}

.projectBlock li {
  float: left;
}

.projectBlock li:nth-child(1){
  width: 10%;
  height: 100%;
}

.projectBlock li:nth-child(2){
  width: 80%;
  height: 100%;

}

.projectBlock li:nth-child(3){
  width: 10%;
  height: 100%;
}

.projectPicture {
  width: 275px;
  height: 275px;
  border: 2px solid #ccc;
  border-radius: 100%;
  margin: 50px auto;
}


.statsContainer {
  width: 32.5% !important;
  height: 45px !important;
  /* background-color: green !important; */
  margin-top: -28px !important;
  border-right: 2px solid #ccc;
  float: left;
}
.statsContainerLast {
  width: 32.5% !important;
  height: 45px !important;
  /* background-color: green !important; */
  margin-top: -28px !important;
  float: left;
}

.statsContainer p, .statsContainerLast p  {
  color: #ccc;
  text-align: center;
  font-size: 13px;
  margin-bottom: 5px;
}

.statsContainer strong, .statsContainerLast strong  {
  color: #888;
  font-size: 20px;
  text-align: center;
}

.progressBar {
  width: 10px;
  height: 75%;
  margin: 20px auto;
  background-color: rgba(122, 122, 122, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
.groupStats {
  margin-right: -20px;
}

.progressFunds {
  margin-top: -15px;
  color: #81F786;
  font-size: 15px;
  margin-left: 2px;
  display: block;
}

.progressShrink {
  margin-top: 40px;
}

.progressEquity {
 margin-top: 18px;
 color: #819DF7;
 font-size: 15px;
 margin-left: -6px;
 display: block;
 margin-bottom: 2px;
}
.fluidGreen {
  width: 98%;
  height: 46%;
  background-color: #81F786;
  margin-top: 170px;
}

.fluidBlue {
  width: 98%;
  height: 46%;
  background-color: #819DF7;
 
}

.projectPicture img {
  width: 275px;
  height: 275px;
  border-radius: 100%;
}

.projectTitle {
  text-align: center;
  margin-bottom: -35px;
  margin-top: 14px;
  color: rgba(0,0,0,0.57);
  font-weight: 500;
  /* border-bottom: 1px solid #919191; */
  /* width: 67px; */
}
.projectsHeader {
  text-align: center;
  margin: 20px auto 20px;
  color: #F0F0F0;
}
/***************************
****************************
past section 
****************************
***************************/
.past h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.past strong {
  color: #FA8B8B;
  font-size: 35px;
  font-weight: 600;
}

/***************************
****************************
Footer section 
****************************
***************************/
footer h1 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-size: 55px;
}

footer h3 {
  color: #fff;
  text-align: center;
  margin-top: -7px;
  font-size: 18px;
}

.textInput {
  margin: 40px auto;
  background: #FAFAFA;
  width: 380px;
  height: 40px;
  display: block;
  text-align: left;
  line-height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border: 0px;
  resize: none;
  color:rgba(0, 0, 0, 0.42);
}

.checkArea {
  width: 209px;
  height: 40px;
  margin-left: auto;
  display: block;
}

.checkBox {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  display: block;
  float: left;
  margin-left: 20px;
}

span {
  color: #fff;
  float: left;
  text-align: center;
  margin-left: 10px;
}

.contactButton {
  width: 150px;
  height: 40px;
  background-color: #fff;
  color:rgba(0, 0, 0, 0.42);
  text-align: center;
  line-height: 40px;
  margin-left: 40px; 
  display: block;
}

.submit {
  list-style-type: none;
  width: 100%;
  overflow: auto;
}

.submit li {
  float: left;
  width: 50%;
}

.footerInfo {
  list-style-type: none;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.6);
  margin-top: 3%;
}

.footerInfo li {
  float: left;
  width: 16%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
}

/***************************
****************************
Campaign section 
****************************
***************************/

.campaignBanner{
  width: 100%;
  height: 700px;
}

.galleryWrapper {
  width: 90%;
  height: 600px;
  display: block;
  margin: 0 auto;
  background-color: blue;

}

.campaignSummary{
  width: 100%;
  height: 700px;
}

footer {
  overflow: hidden;
  background: url(../img/sparkBG.jpg) no-repeat center center fixed;
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}